@model Sample
@{
    ViewData["Title"] = "Delete";
    string CatName = ViewData["CatName"] as string;
}
<h1>Delete Sample</h1>
<br />
<br />
<br />

<h2>Are you sure to Delete?</h2>
<div class="container">
    <form asp-action="Delete" asp-controller="Sample">
        <input hidden asp-for="Id"/>
         <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(m => m.CategoryId)</div>
        <div class="col-md-10">@CatName</div>
    </div>
@*    <div class="row">
        //<div class="col-md-2">@Html.DisplayNameFor(m => m.EnrollDate)</div>
        //<div class="col-md-10">@Html.DisplayFor(m => m.EnrollDate)</div>
    </div>*@
     <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(m => m.ImgPath)</div>
        <div class="col-md-10"><img src="@Model.ImgPath" class=""/></div>
    </div>

    <br />
    <br />
     <input type="submit" class="btn btn-primary" value="Delete" />
     <a asp-action="Index" class="btn btn-light">Return to Samples</a>
    </form>
</div>

